
header {
    margin: -28px -25px 25px;
    padding: 15px 25px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 300;
    color: #ADADAD;
    text-align:center;
    background: #f7f7f7;
}

.card {
    margin: 20px auto;
    width: 350px;
    padding: 30px 25px;
    background: white;
    border: 1px solid #c4c4c4;
}

.logout-button {
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #92c0f4;
    border: 0;
    border-radius: 5px;
    cursor: pointer; 
    outline:0;
    margin-top:25px;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

.logout-button:hover {
    background: #2c8af7;
}
.divider{
    border: 0;
    height: 1.05px;
    background: rgb(220, 220, 220);
}

label span {
    float:right;
}